@model List<testTEA.Models.preguntas>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" asp-route-id="@ViewBag.TestId">Agregar  Pregunta</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               <p> Id Test</p>
            </th>
            <th>
               <p> Id Pregunta</p>
            </th>
            <th>
                <p>Número de la pregunta</p>
            </th>
            <th>
                <p>Pregunta</p>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id_test)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.id_pregunta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.numero_pregunta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.texto)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_pregunta">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id_pregunta">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id_pregunta">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
