@model IEnumerable<testTEA.Models.Usuario>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Index</h1>

<div style="margin-bottom: 20px;">
    <form asp-controller="Usuarios" asp-action="Index" method="get" id="formBusqueda">
        <input type="text" name="nombre" placeholder="Buscar por nombre" class="form-control" id="inputBusqueda" autocomplete="off" />
    </form>

    <script>
        let timeout = null;
        const input = document.getElementById('inputBusqueda');
        const form = document.getElementById('formBusqueda');

        input.addEventListener('input', function() {
            clearTimeout(timeout);
            timeout = setTimeout(() => {
                form.submit();
            }, 500);
        });
    </script>
</div>

<div>
    <p>
        <a asp-action="Create" class="btn btn-sm btn-primary">Create New</a>
    </p>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.contrasena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.numeroSello)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefono)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.contrasena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.numeroSello)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefono)
            </td>
                <td>
                    <div class="d-flex gap-2">
                        <a asp-action="Edit" asp-route-id="@item.id_usuario" class="btn btn-sm btn-primary">Editar</a>
                        <a asp-action="Details" asp-route-id="@item.id_usuario" class="btn btn-sm btn-info">Detalles</a>
                        <a asp-action="Delete" asp-route-id="@item.id_usuario" class="btn btn-sm btn-danger">Eliminar</a>
                    </div>
                </td>


        </tr>
}
    </tbody>

</table>
