@model testTEA.Models.pacientes

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>pacientes</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id_usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_usuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.edad_meses)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.edad_meses)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.genero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.genero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fecha_nacimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fecha_nacimiento)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id_paciente">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
