@model IEnumerable<testTEA.Models.tests>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<head>
    <link href="~/css/TestStyle.css" rel="stylesheet" />
</head>

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descripcion)
            </th>
            <th>
                <p class="text-center">Acciones</p>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            <td class="botones">
                <button class="buton-actions  btn-warning">
                        <a asp-action="Edit" asp-route-id="@item.id_test" class="text-light">Edit</a>
                </button>

                <button class="buton-actions btn-danger">
                    <a asp-action="Delete" asp-route-id="@item.id_test" class="text-light">Delete</a> 
                </button>

                <button class ="buton-actions btn-primary">
                        <a asp-action="Index" asp-controller="Preguntas" asp-route-id="@item.id_test" class="text-light">Ver Preguntas</a>
                </button>
            </td>
        </tr>
}
    </tbody>
</table>
